$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// 1200px 以上
@mixin mqXL {
    @media ( min-width: ( $xl ) ) {
        @content;
    }
}

// 992 - 1199px
@mixin mqLG {
    @media ( min-width: $lg ) and ( max-width: ( $xl - 1 ) ) {
        @content;
    }
}

// 768 - 991px
@mixin mqMD {
    @media ( min-width: $md ) and ( max-width: ( $lg - 1 ) ) {
        @content;
    }
}

// 576 - 767px
@mixin mqSM {
    @media ( min-width: $sm ) and ( max-width: ( $md - 1 ) ) {
        @content;
    }
}

// 575px 以下
@mixin mqXS {
    @media ( max-width: $sm - 1 ) {
        @content;
    }
}

// More than
@mixin mqMT( $w ) {
    @media ( min-width: ( $w + 1 ) ) {
        @content;
    }
}

// More than equal
@mixin mqMTE( $w ) {
    @media ( min-width: ( $w ) ) {
        @content;
    }
}

// Less than
@mixin mqLT( $w ) {
    @media ( max-width: ( $w - 1 ) ) {
        @content;
    }
}

// Less than equal
@mixin mqLTE( $w ) {
    @media ( max-width: ( $w ) ) {
        @content;
    }
}

////////////////////////////////////////////////

article {
    width: 1120px;
    margin: 0 auto;

    @include mqLG {
        width: 90vw;
    }

    @include mqMD {
        width: 50vw;
    }

    @include mqSM {
        width: 25vw;
    }

    @include mqXS {
        display: none;
    }
}