.grid-3-40px {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc( 100% / 3 - 40px * 2), 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.grid-3-40px .gcol {
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .grid-md-2-20px {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc( 100% / 2 - 20px * 2), 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .grid-md-2-20px .gcol {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .grid-sm-1-10px {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(calc( 100% / 1 - 10px * 2), 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .grid-sm-1-10px .gcol {
        margin-bottom: 10px;
    }
}
