.c-skew {
  width: 100%;
  padding-left: 0;
}

.c-skew .c-skew__heading {
  margin: 0;
  font-size: 2rem;
}

.c-skew .c-skew__content {
  font-size: .875rem;
}

.c-skew .c-skew__bg {
  position: relative;
  padding: 1rem;
  color: #0b3256;
}

.c-skew .c-skew__bg::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: -76.43375px;
  top: 0;
  width: 55.6vw;
  height: 420px;
  background: #1971c2;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
}
